@model List<BiletAl.ViewModels.OtobusViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Otobüsler</h2>
<div style="margin-top:15px; background-color:azure; display:block; position:relative;">
   
    <form action="/Otobus/Index" method="post" class="form-group" style="padding:5px; position:relative;">
        <fieldset>
            <p style="margin-top:15px;">Kalkış Lokasyonu</p>
            <div style="margin-top:15px; ">
                <select id="KalkisLokasyonu" name="KalkisLokasyonID">
                    <option value="1">İstanbul</option>
                    <option value="2">İzmir</option>
                    <option value="3">Ankara</option>
                    <option value="4">Edirne</option>
                </select>
            </div>

            <p style="margin-top:15px;">Varış Lokasyonu</p>
            <div style="margin-top:15px;">
                <select id="VarisLokasyonu" name="VarisLokasyonID">
                    <option value="1">İstanbul</option>
                    <option value="2">İzmir</option>
                    <option value="3">Ankara</option>
                    <option value="4">Edirne</option>
                </select>
            </div>
            <p style="margin-top:15px;">Tarih</p>
            <input type="datetime-local" id="seferTarihi" name="SeferTarihi"> 
            <p style="margin-top:10px;"><input type="submit" value="Sefer Sorgula" class="btn btn-success" /> </p>
        </fieldset>
       
    </form>
</div>
@if (Model !=null)
{
    <table class="table table-bordered">
    <tr>
        <th>OtobüsID</th>
        <th>Koltuk Sayısı</th>
        <th>Kalkış Lokasyonu</th>
        <th>Varış Lokasyonu</th>
        <th>Sefer Tarihi</th>
        <th>Açılış Fiyatı</th>
        <th>

        </th>
        
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <form action="/Bilet/BiletAl" method="post" >

                @Html.Hidden("otobusID",k.OtobusID)
                <td>@k.OtobusID</td>
                <td>@k.KoltukSayisi</td>
                <td>@k.KalkisLokasyon</td>
                <td>@k.VarisLokasyon</td>
                <td>@k.SeferTarihi</td>
                <td>@k.AcilisFiyati</td>    
                
                <td> 
                    <p style="margin-top:10px;">
                    <input type="submit" value="Satın Al" class="btn btn-success" />
                    </p>
                </td>
            </form>
        </tr>
    }
</table>
}
